// global SASS variables..
// background
$win-bg: teal;

// fontz
$win-font: fixedsys, consolas, monospace;

// window
$win-window-bg: #fff;

// border
$win-border-color: #000;
$win-border-bg: #cdcdcd;
// title
$win-title-bg: #000;
$win-title-color: #fff;

//  button
$win-button-color: #c0c0c0;
$win-button-txt: #000;

// menu
$win-active-menu: #000;

// icon
$win-icons-bg: #fff;
$win-icon-active-text: #fff;
$win-icon-active-bg: #000;

// context menu
$win-context-bg: #fff;
$win-context-active-bg: #000;
$win-context-active-color: #fff;