@import './constants.scss';

body {
    background-color: $win-bg;
    font-family: $win-font;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .maximize {
    position:fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
  }
  
  .ui-draggable-dragging > * {
    display: none;
    border: dotted 2px #777;
    background: none;
     background: rgba(0, 0, 0, 0);
    border: none;
    z-index: -999;
  }
  
  .ui-draggable-dragging {
    border: dotted 2px #555;
    background: rgba(0, 0, 0, 0);
  }
  
  
  
